/* Tez-tez işlənən rəng şablonu */
:root {
    --secondary-color: #666;
    --introduction-span-color: #FF8A56;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #000;
    margin-right: 10px;
}

header nav {
    display: none;
}



/* INTRODUCTION START */
.introduction .intro-left-side h1 {
    font-weight: 700;
    margin-bottom: 20px;
}

.introduction .intro-left-side h1 span {
    color: var(--introduction-span-color);
    /* Bu rəngi yuxarıda qeyd etdiyimiz rəng şablonundan seçdik */
}


.introduction .intro-left-side p {
    color: var(--secondary-color);
    /* Bu rəngi yuxarıda qeyd etdiyimiz rəng şablonundan seçdik */

    font-weight: 400;
    
}
.book-a-call {
    margin-top: 40px;
}
.introduction .intro-left-side .book {
    background: #222;
    color: #fff;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
/* INTRODUCDION END */



@media(min-width: 768px) {
    header nav {
        display: block;
    }

    header .fa-bars {
        display: none;
    }
}

@media(max-width: 575px) {
    .esasdiv {
        max-width: 100%;
    }
}

@media(min-width: 576px) {
    .esasdiv {
        max-width: 540px;
        margin: 0 auto;
    }
}

@media(min-width: 768px) {
    .esasdiv {
        max-width: 720px;
        margin: 0 auto;
    }
}

@media(min-width: 992px) {
    .esasdiv {
        max-width: 960px;
        margin: 0 auto;
    }

    .introduction {
        display: flex;
        /* flex-direction: column;
        justify-content: center; */
    }

    .introduction .intro-left-side h1 {
        font-size: 72px;
    }

    .introduction .intro-left-side {
        padding: 92px 0;
    }

    .introduction .intro-right-side {
        padding-top: 70px;
    }
}

@media(min-width: 1200px) {
    .esasdiv {
        max-width: 1140px;
        margin: 0 auto;
    }
}

@media(min-width: 1400px) {
    .esasdiv {
        max-width: 1320px;
        margin: 0 auto;
    }
}